ROOT = $(PROJECT_DIR)/../../Root
SWIFT_INCLUDE_PATHS = $(ROOT)/include/**
LIBRARY_SEARCH_PATHS = $(ROOT)/lib/**
OTHER_LDFLAGS[sdk=iphoneos*] = -llept-ios -lpng16-ios -ltesseract-ios
OTHER_LDFLAGS[sdk=iphonesimulator*] = -ltesseract-sim -lpng16-sim -llept-sim
OTHER_LDFLAGS[sdk=macosx*] = -ltesseract-macos -lpng16-macos -llept-macos
